.filters{
    float: left;
    width: 205px;

    .filters_filter:first-child{
        margin-top: 0px;
    }


    @media (max-width: 910px){
        width: 100%;
        margin-bottom: 20px;
    }
}
$padding-left: 15px;
$margin-top: 20px;

.filter {
    background: white;
    border-radius: 4px;
    text-transform: uppercase;

    margin-top: $margin-top;

    @media (max-width: 910px){
        margin-left: 15px;
    }

    .filter_header{
        position: relative;

        padding: 17px $padding-left;

        font-size: 12px;
        font-family: 'Montserrat', sans-serif;   
        border-bottom: 1px solid #f3f3f3;
    }
    .filter_header--category{
        &:after{
            content: '>';
            display: inline-block;
            position: absolute;
            right: 10px;
            transform: rotate(90deg);
            transition: transform 0.3s 0s linear;
            font-size: 10px;
            color: #797979;
        }
    }
    .filter_header--collapsed{
        &:after{
            content: '>';
            display: inline-block;
            position: absolute;
            right: 10px;
            transform: rotate(0deg);
            transition: transform 0.3s 0s linear;
            color: #dadada;
        }           

        transition: background 0.3s 0s linear;
        &:hover{
            background: #848c8f;
        }
    }
    .filter_content{
        padding: 20px $padding-left;
    }
    .filter_content--tags{
        background: #848c8f;
        color: white;
        text-transform: none;
        font-size: 12px;
        line-height: 16px;
        padding: 15px $padding-left;
    }
    .filter_content--circles{
        margin-left: -7px;
        /*margin-bottom: -5px;*/
    }
    .filter_content--slider{
        padding: 0px $padding-left;
        min-height: 78px;
        position: relative;
    }
}

.filter--color{
    @extend .filter;

    @media (max-width: 910px){
        float: left;
        /*min-width: 330px;*/
    }
}
.filter--size{
    @extend .filter;

    @media (max-width: 910px){
        float: left;
        /*max-width: 210px;*/
    }
}
.filter--price{
    @extend .filter;

    @media (max-width: 910px){
        float: left;
        /*min-width: 255px;*/
        /*max-height: 122px; */
    }
}
.filter--human{
    @extend .filter;
    cursor: pointer;
}

.tag--checked{
    background: black;
}


.circle{
    display: inline-block;
    height: 28px; width: 28px;

    border-radius: 100%;
    background: #efefef;
    text-align: center;
    line-height: 28px;
    font-size: 9px;

    margin-left: 7px;
    margin-bottom: 7px;

    cursor: pointer;
    
    transition: background 0.3s 0s linear,
                color 0.3s 0s linear;
    &:hover{
        color: white;
        background: #808e8f;
    }
}
.circle--blue{
    background: #1a73f5;
}
.circle--green{
    background: #7eda85;
}
.circle--brown{
    background: #ce9649;
}
.circle--beige{
    background: #eeeeee;
}
.circle--wetclay{
    background: #798092;
}
.circle--yellow{
    background: yellow;
}
.circle--grey{
    background: #ce9649;
}
.circle--checked{
    background: black;
}
.circle--black{
    background: #3c3d41;
}

.slider{
    width: 100%;
    margin-top: 27px;
    .slider_bar{
        height: 2px;
        background: #ececec;
    }
    .slider_bar-1{
        height: 2px;
        background: #737373;
    }
    .slider_handle{
        display: inline-block;
        transform: translateY(-50%);
        height: 12px; width: 12px;
        border-radius: 100%;
        border: 1px solid #737373;
        background: white;
        cursor: pointer;
    }
    .slider_price-value{
        position: relative;
        top: 20px;
        display: inline-block;

        width: 100px;
        left: -50%;
        color: #a6a6a6;
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;

        &:before{
            content: '$';
        }   
    }
    .slider_price-start{}
}
