.products{
    width: 675px;
    float: left;
    
    .products_load-more{
        background: #b8c6c7;
        border-radius: 4px;
        margin-top: 13px;
        margin-left: 20px;
        line-height: 40px;

        color: white;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;

        text-align: center;
        cursor: pointer;
        transition: background 0.3s 0s linear,
                    color 0.3s 0s linear,
                    border 0.5s 0.5s linear;
        &:hover{
            background: white;
            color: black;
            border: 1px solid black;
        };
    }


    @media (max-width: 910px){
        width: 100%;
    }
}

.slip{
    float: left;
    text-align: center;
    width: 205px;
    height: 265px;
    background: white;
    border-radius: 4px;
    margin-left: 20px;
    margin-bottom: 20px;
    position: relative;

    &_img{
        margin-top: 20px;
    }
    &_header{
        padding: 5px 20px;
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        line-height: 18px;
        min-height: 34px;

        small{
            display: block;
            font-size: 10px;
            color: #a4a4a6;
            font-family: 'Open Sans';
            font-style: italic;
            font-weight: 100;        
        }
    }

    &_cost{
        color: 616163;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
    }
    
    &_new-label{
        background: #8ccb94;
        color: white;
        text-transform: uppercase;
        padding: 3px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        border-radius: 4px;
        font-size: 10px;
        position: absolute;
        top: 18px; right: 16px;
    }


    @media (max-width: 910px){
        width: 25%;
        margin-left: 0px;
        background: transparent;

        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
        .slip_indent{
            background: white;
        }
    }

}